Django==1.9.2
django-tables2==1.1.2
illuminate==0.6.2
Markdown==2.6.6
numpy==1.11.1
openpyxl==1.8.6
pandas==0.18.1
pybedtools==0.7.7
PyVCF==0.6.8
ruffus==2.6.3
pip==8.1.0
python==2.7.5
python-dateutil==2.5.3
sqlite==3.7.17
matplotlib==1.5.1
PyLaTex==1.0.0
django-chartit==0.2.7
django-mathfilters==0.4.0
javapackages==1.0.0



