<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
    <title>FLT3 only results</title>
    <style type="text/css">
        table.w3-table {
            width: 400px;
        }
        p.p2 {
            margin-lefT: 5px;
        }
        h2{
            margin-lefT: 5px;
        }
    </style>
</head>
<body>
    <p align="right"><a href="/aml/"><i class="fa fa-home w3-xxlarge"  ></i></a></p>
    <h1>Sample: {{ sample }}</h1>
        <div class="w3-btn-bar w3-show-inline-block">
            <a class="w3-btn w3-light-grey" href="/aml/results/{{ run }}/{{ sample }}">Indels (Pindel)</a>
            <a class="w3-btn w3-light-grey" href="/aml/delly/{{ run }}/{{ sample }}">Structural Variants (Delly)</a>
            <button class="w3-btn w3-black">FLT3 only</button>
        </div>
    {% if list %}
        <p></p>
        <br/>
        <table class="w3-table w3-bordered w3-striped w3-border">
            <tr>
                <th>Size</th>
                <th>Count</th>
                <th>Total allelic ratio (%)</th>
            </tr>
            {% for item1, item2, item3 in list %}
            <tr>
                <td>{{ item1 }}</td>
                <td>{{ item3 }}</td>
                <td>{{ item2 }}</td>
            </tr>
            {% endfor %}
        </table>
        <p></p>
        <br/>
        <h3>Repeated sequences</h3>
        {% if var %}
        {% for key, values in d.items %}
            <p class="p2">Size: {{ key }}, Locations: {{ values }}</p>
            <img src="/static/aml/{{ run }}/{{ sample }}/{{ sample }}_{{ key }}.meme.png"/>
        {% endfor %}
        {% else %}
        <p class="p2">No repeated FLT3 sequences in sample.</p>
        {% endif %}
    {% else %}
        <p>No FLT3 results for this patient.</p>
    {% endif %}
</body>
</html>