<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
    <title>FLT3 only results</title>
    <style type="text/css">
        table.w3-table {
            width: 600px;
            border-collapse: collapse;
            border: 1px solid LightGrey;
        }
        th, td {
            border: 1px solid LightGrey;
        }
        p.p2 {
            margin-lefT: 5px;
        }
        h2{
            margin-lefT: 5px;
        }
        td.valign {
            vertical-align: middle;
        }
    </style>
</head>
<body>
    <p align="right"><a href="/aml/"><i class="fa fa-home w3-xxlarge"  ></i></a></p>
    <h1>Sample: {{ sample }}</h1>
        <div class="w3-btn-bar w3-show-inline-block">
            <a class="w3-btn w3-light-grey" href="/aml/results/{{ run }}/{{ sample }}">Indels (Pindel)</a>
            <a class="w3-btn w3-light-grey" href="/aml/delly/{{ run }}/{{ sample }}">Structural Variants (Delly)</a>
            <button class="w3-btn w3-black">FLT3 only</button>
        </div>
        {% if flt3 %}
        <table class="w3-table w3-bordered w3-border">
            <tr class="w3-light-blue">
                <th style="text-align: center;">POS</th>
                <th style="text-align: center;">REF</th>
                <th style="text-align: center;">ALT</th>
                <th style="text-align: center;">SIZE</th>
                <th style="text-align: center;">Total AB</th>
                <th style="text-align: center;">Runs</th>
                <th style="text-align: center;">Samples</th>
            </tr>
            {% regroup flt3 by ab as flt3_by_size %}
            {% for data1 in flt3_by_size %}
                {% for data in data1.list %}
                    <tr>
                        <td style="text-align: center;">{{ data.pos }}</td>
                        <td style="text-align: center;">{{ data.ref|truncatechars:9 }}</td>
                        <td style="text-align: center;">{{ data.alt|truncatechars:9 }}</td>
                        {% if data.size|divisibleby:3 %}
                        <td style="text-align: center;"><font color="#00cc00"><b>{{ data.size }}</b></font></td>
                        {% else %}
                        <td style="text-align: center;">{{ data.size }}</td>
                        {% endif %}
                        {% if forloop.first %}
                            <td style="text-align: center;" class="valign" rowspan="{{ data1.list|length }}">{{ data1.grouper }}</td>
                        {% endif %}
                        <td style="text-align: center;">{{ data.runs }}</td>
                        <td style="text-align: center;">{{ data.samples }}</td>
                    </tr>
                {% endfor %}
            {% endfor %}
        </table>
        {% else %}
        <p>No FLT3 results for this patient.</p>
        {% endif %}

        <p></p>
        <br/>
        <h3>Repeated sequences</h3>
        {% if d %}
        {% for key, values in d.items %}
            <p class="p2">Size: {{ key }}, Locations: {{ values }}</p>
            <img src="/static/aml/{{ run }}/{{ sample }}/{{ sample }}_{{ key }}.meme.png"/>
        {% endfor %}
        {% else %}
        <p class="p2">No repeated FLT3 sequences in sample.</p>
        {% endif %}
</body>
</html>